block links 
    link(rel="stylesheet", href="../../blocks/rate_button/css/rate_button.min.css")

block content
    .rate-wrapper
        <span class="fa fa-star checked rate-button"></span>
        <span class="fa fa-star checked rate-button"></span>
        <span class="fa fa-star checked rate-button"></span>
        <span class="fa fa-star checked rate-button"></span>
        <span class="far fa-star rate-button"></span>
    
    <script src="https://kit.fontawesome.com/2d5be2e848.js" crossorigin="anonymous"></script>