.subtextfield {
    position: relative;
    &__input {
    width: 260px;
    height: 44px;
    padding-left: 14px;
    }
    &__btn {
        position: absolute;
        top: 22px;
        left: 216px;
        height: 44px;
        width: 44px;
        border: none;
        background: transparent;
        z-index: 10;
        &:after {
            content: "";
            width: 10px;
            height: 10px;
            border-bottom: 2px solid;
            border-left: 2px solid;
            border-image: var(--lg-color);
            border-image-slice: 1;
            background-color: transparent;
            left: -9px;
            position: absolute;
            top: 0px;
            left: 16px;
            -webkit-transform: translateY(-50%) rotate(45deg);
            transform: translateY(-50%) rotate(225deg);
        }
        &:before {
            content: "";
            position: absolute;
            top: -1px;
            left: 14px;
            width: 14px;
            border-bottom: 2px solid;
            border-image: var(--lg-color);
            border-image-slice: 1;
        }
    }
}