.content {
    display: block;
    position: relative;
    padding-left: 31px;
    margin-bottom: 13px;
    line-height: 18px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
        &:checked ~ .checkmark {
            background-color: #fff;
            }
        
        &:hover input ~ .checkmark {
            background-color: #fff;
            }
        
        &:checked ~ .checkmark {
            &:after {
                display: block;
            }
        }
    }
}
.checkmark {
    position: absolute;
    top: -1px;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: transparent;
    border: 1px solid var(--p-color);
    border-radius: 4px;
    &:after {
        content: "";
        position: absolute;
        display: none;
        left: 6px;
        top: 3px;
        width: 4px;
        height: 6px;
        border: solid var(--p-color);
        border-image: var(--lg-color);
        border-image-slice: 1;
        border-width: 0px 2px 2px 0;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
        }
    }
