.navbar {
    width: 100%;
    height: 70px;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__logo {
        &-img {
            padding-top: 6px;
        }
    }
    &__agreements {
        margin-right: 25px;
        &:before {
            content: "";
            position: absolute;
            left: 106px;
            top: 6px;
            background: var(--d50-color);
            height: 8px;
            display: block;
            width: 2px;
            transform: rotate(45deg);
        }
        &:after {
            content: "";
            background: var(--d50-color);
            height: 8px;
            display: block;
            width: 2px;
            transform: rotate(135deg);
            position: absolute;
            top: 6px;
            left: 101px;
        }
    }
    &__services {
        margin-right: 25px;
        &:before {
            content: "";
            position: absolute;
            left: 63px;
            top: 6px;
            background: var(--d50-color);
            height: 8px;
            display: block;
            width: 2px;
            transform: rotate(45deg);
        }
        &:after {
            content: "";
            background: var(--d50-color);
            height: 8px;
            display: block;
            width: 2px;
            transform: rotate(135deg);
            position: absolute;
            top: 6px;
            left: 59px;
        }
    }

    &__wrapper {
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
    &__menu {
        &-list {
            display: flex;
            list-style-type: none;
        }
        &-item {
            text-decoration: none;
            margin-left: 20px;
            position: relative;
            span {
                font-weight: 700;
            }
        }
    }
    &__divider {
        position: relative;
        &:before {
            content: "";
            position: absolute;
            height: 30px;
            width: 1px;
            background: rgba(31, 32, 65, 0.1);
            top: -14px;
            left: 20px;
        }
    }
    &__autorizated {
        margin-left: 42px;
    }
}