.dropbtn {
    background-color: transparent;
    color: var(--d75-color);
    width: 100%;
    height: 100%;
    border: none;
    cursor: pointer;
    border: 1px solid var(--d25-color);
    border-radius: 4px 4px 0px 0px;
    text-align: left;
    padding-left: 14px;
    outline: none;
    font-weight: 400;
    text-transform: none;
    font-size: 14px;
    &:focus {
        border: 1px solid var(--d50-color);
        background-color: transparent;
    }
    &:hover {
        border: 1px solid var(--d50-color);
        background-color: transparent;
    }
    &:before {
        content: "";
        position: absolute;
        background: var(--d50-color);
        height: 8px;
        display: block;
        width: 2px;
        transform: rotate(45deg);
        left: 244px;
        top: 18px;
    }
    &:after {
        content: "";
        background: var(--d50-color);
        height: 8px;
        display: block;
        width: 2px;
        transform: rotate(135deg);
        position: absolute;
        top: 18px;
        left: 240px;
    }
}



.dropdown {
    position: relative;
    display: inline-block;
    width: 266px;
    height: 44px;
    
    &-counter {
        display: flex;
        padding-top: 4px;
    }
    &-content {
        display: none;
        width: inherit;
        height: 119px;
        position: absolute;
        background-color: #fff;
        box-shadow: 0px 10px 10px 0px var(--d5-color);
        border: 1px solid var(--d25-color);
        border-radius: 0px 0px 4px 4px;
        border-top: none;
        z-index: 1;
    }
    &-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 37px;
        &__title {
            padding: 12px 14px;
            padding-top: 14px;
            text-decoration: none;
            display: block;
            font-weight: 700;
            font-size: 12px;
            text-transform: uppercase;
        }
    }
}

.counter__btn {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: transparent;
    border: 1px solid var(--d25-color);
    font-size: 16px;
    margin-right: 5px;
    font-weight: 400;
    padding-top: 4px;
}

.counter__value {
    margin-right: 6px;
    margin-left: 6px;
    padding-bottom: 4px;
    font-weight: 700;
    font-size: 13px;
    text-transform: uppercase;
    width: 16px;
    border: none;
    outline: none;
}
