block links 
    link(rel="stylesheet", href="../../blocks/header_guest/css/header_guest.min.css")

block content
    section.header 
        .container 
            .navbar 
                .navbar-logo
                    img.navbar-logo__img(src="../../blocks/header_guest/icons/logo.svg", alt="#")
                .navbar-wrapper
                    .navbar-menu
                        ul.navbar-menu__list
                            li
                                a(href="#").navbar-menu__item <span> О нас </span> 
                            li
                                a(href="#").navbar-menu__item.navbar__services Услуги
                            li 
                                a(href="#").navbar-menu__item Вакансии 
                            li 
                                a(href="#").navbar-menu__item Новости 
                            li 
                                a(href="#").navbar-menu__item.navbar__agreements Соглашения
                    .navbar-autorization
                        .navbar-autorization__log
                            .btn__2-wrapper.small__wrapper
                                .gradient-border.small__gradient-border <span></span>
                                button.btn__2.small__btn Войти
                        button.navbar-autorization__reg.btn__1 Зарегистрироваться