extends ../../libs/pug/template

block title 
    | UIKit

block content
    include ../../blocks/text_field/text_field
    include ../../blocks/header_autorizated/header_autorizated
    include ../../blocks/header_guest/header_guest
    include ../../blocks/footer/footer