extends ../../libs/pug/template

block title 
    | UIKit

block content
    .container  
        include ../../blocks/text_field/text_field
        include ../../blocks/dropdown/dropdown
        include ../../blocks/checkbox_buttons/checkbox_buttons
        include ../../blocks/radio_buttons/radio_buttons
        include ../../blocks/toggle/toggle
        include ../../blocks/rate_button/rate_button
        include ../../blocks/range_slider/range_slider
        include ../../blocks/buttons/buttons
        include ../../blocks/header_autorizated/header_autorizated
        include ../../blocks/header_guest/header_guest
        include ../../blocks/footer/footer