.toggle {
    position: relative;
    width: 40px;
    height: 20px;
    display: -webkit-box;
    margin-bottom: 10px;
    &__text {
        width: 220px;
        padding-left: 11px;
        padding-top: 7px;
    }
    &-button {
        position: relative;
        top: 50%;
        width: 40px;
        height: 20px;
        overflow: hidden;
    }
    &__layer {
        border-radius: 10px;
        border: 1px solid var(--d25-color);
        width: 40px;
        z-index: 1;
        
    }
    &__checkbox {
        position: relative;
        width: 100%;
        height: 100%;
        padding: 0;
        margin: 0;
        opacity: 0;
        cursor: pointer;
        z-index: 3;
        &:checked + .toggle__knobs:before {
            content: '';
            left: 24px;
            background: var(--lg-color);
        }
        &:checked + .toggle__knobs:after {
            content: " ";
            position: absolute;
            width: 38px;
            height: 18px;
            border-radius: 10px;
            border: 1px solid var(--p-color);
            z-index: 10;
        }
    }
    &__knobs {
        z-index: 2;
        transition: 0.3s ease all;
        &:before {
            content: '';
            position: absolute;
            top: 4px;
            left: 4px;
            width: 12px;
            height: 12px;
            color: #fff;
            background: var(--d25-color);
            border-radius: 50%;
            transition: 0.3s cubic-bezier(0.18, 0.89, 0.35, 1.15) all;
        }
    }
}



.toggle__wrapper, .toggle__knobs, .toggle__layer
{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}



