block links 
    link(rel="stylesheet", href="../../blocks/like_button/css/like_button.min.css")

block content 
    .like-button
        .like-button__gradient-border <span></span>
        button.like-button__btn <span class="likes-number">2</span>
    script(src="../../blocks/like_button/js/like_button.js") 