block links 
    link(rel="stylesheet", href="../../blocks/bullet_list/css/bullet_list.min.css")

block content 
    .bullet-list 
        ul.bullet-list__ul 
            li.bullet-list__item Нельзя с питомцами
            li.bullet-list__item Без вечеринок и мероприятий
            li.bullet-list__item Время прибытия — после 13:00,<br> а выезд до 12:00