block links 
    link(rel="stylesheet", href="../../blocks/footer/css/footer.min.css")

block content 
    section.footer
        .container 
            .footer-grid
                .footer-block
                    img.footer-block__logo(src="../../blocks/footer/icons/logo.svg", alt="#")
                    .footer__text Бронирование номеров в лучшем<br> отеле 2019 года по версии<br> ассоциации «Отельные взгляды»
                .footer-block 
                    a(href="").footer__link <span>навигация</span>
                    a(href="").footer__link О нас
                    a(href="").footer__link Новости
                    a(href="").footer__link Служба поддержки
                    a(href="").footer__link Услуги
                .footer-block 
                    a(href="").footer__link <span>о нас</span>
                    a(href="").footer__link О сервисе
                    a(href="").footer__link Наша команда
                    a(href="").footer__link Вакансии
                    a(href="").footer__link Инвесторы
                .footer-block 
                    a(href="").footer__link <span>Служба поддержки</span>
                    a(href="").footer__link Соглашения
                    a(href="").footer__link Сообщества
                    a(href="").footer__link Связь с нами
                .footer-block
                    a(href="").footer__link <span>Подписка</span>
                    .footer__text Получайте специальные предложения и новости сервиса
                    .footer-stx 
                        include ../../blocks/subscription_text_field/subscription_text_field
                   
            .footer__divider 
            .footer-bottom
                .footer-flex 
                    .footer-copyright Copyright © 2018 Toxin отель. Все права защищены.
                    .footer-socials
                        a.footer-socials__item(href="#") <i class="fa fa-twitter" aria-hidden="true"></i>
                        a.footer-socials__item(href="#") <i class="fab fa-facebook-square"></i>
                        a.footer-socials__item(href="#") <i class="fa fa-instagram" aria-hidden="true"></i>
    <script src="https://kit.fontawesome.com/2d5be2e848.js" crossorigin="anonymous"></script>
                    