block links 
    link(rel="stylesheet", href="../../blocks/header_autorizated/css/header_autorizated.min.css")

block content
    section.header 
        .container 
            .navbar 
                .navbar-logo
                    img.navbar-logo__img(src="../../blocks/header_guest/icons/logo.svg", alt="#")
                .navbar-wrapper
                    .navbar-menu
                        ul.navbar-menu__list
                            li
                                a(href="#").navbar-menu__item <span> О нас </span> 
                            li
                                a(href="#").navbar-menu__item.navbar__services Услуги
                            li 
                                a(href="#").navbar-menu__item Вакансии 
                            li 
                                a(href="#").navbar-menu__item Новости 
                            li 
                                a(href="#").navbar-menu__item.navbar__agreements Соглашения
                    .navbar__divider
                    .navbar__autorizated Юлий Цезарь