block links 
    link(rel="stylesheet", href="../../blocks/dropdown/css/dropdown.min.css")

block content 
    .dropdown
        button(class="dropbtn") 2 спальни, 2 кровати
        .dropdown-content
            .dropdown-wrapper
                .dropdown-wrapper__title Спальни
                .dropdown-counter
                    button.counter__btn(data-direction="minus") -
                    input.counter__value(type="text" value="2")
                    button.counter__btn(data-direction="plus") +
                
            .dropdown-wrapper
                .dropdown-wrapper__title Кровати
                .dropdown-counter
                    button.counter__btn(data-direction="minus") -
                    input.counter__value(type="text" value="2")
                    button.counter__btn(data-direction="plus") +
                
            .dropdown-wrapper
                .dropdown-wrapper__title Ванные комнаты
                .dropdown-counter
                    button.counter__btn(data-direction="minus") -
                    input.counter__value(type="text" value="0")
                    button.counter__btn(data-direction="plus") +
                
    
    script(src="../../blocks/dropdown/js/jquery-3.6.0.js")
    script(src="../../blocks/dropdown/js/dropdown.js")