block links 
    link(rel="stylesheet", href="../../blocks/rich_checkbox_buttons/css/rich_checkbox_buttons.min.css")

block content 
    .richcheckbox-buttons
        label.richcheckbox-buttons__content Широкий коридор 
            .richcheckbox-buttons__text Ширина коридоров в номере<br> не менее 91 см.
            input(type="checkbox")
            span.richcheckbox-buttons__checkmark 

        label.richcheckbox-buttons__content Помощник для инвалидов 
            .richcheckbox-buttons__text На 1 этаже вас встретит специалист<br>  и проводит до номера.
            input(type="checkbox" checked="checked")
            span.richcheckbox-buttons__checkmark
