block links 
    link(rel="stylesheet", href="../../blocks/information/css/information.min.css")

block content 
    .information.information-cosiness
        .information__img.information__img-cosiness
            img(src="../../blocks/information/icons/whatshot.svg", alt="#")
        .information-wrapper.information-wrapper-cosiness
            .information__header Уют
            .information__text Номер оснащён камином