block links 
    link(rel="stylesheet", href="../../blocks/information/css/information.min.css")

block content 
    .information 
        .information__img 
            img(src="../../blocks/information/icons/insert_emoticon.svg", alt="#")
        .information-wrapper 
            .information__header Комфорт
            .information__text Шумопоглощающие стены