block links 
    link(rel="stylesheet", href="../../blocks/information/css/information.min.css")

block content 
    .information.information-convenience
        .information__img 
            img(src="../../blocks/information/icons/location_city.svg", alt="#")
        .information-wrapper 
            .information__header Удобство
            .information__text Окно в каждой из спален