.navbar {
    width: 100%;
    height: 70px;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__logo {
        &-img {
            padding-top: 6px;
        }
    }
    &__agreements {
        margin-right: 25px;
        &:before {
            content: "";
            position: absolute;
            left: 106px;
            top: 6px;
            background: var(--d50-color);
            height: 8px;
            display: block;
            width: 2px;
            transform: rotate(45deg);
        }
        &:after {
            content: "";
            background: var(--d50-color);
            height: 8px;
            display: block;
            width: 2px;
            transform: rotate(135deg);
            position: absolute;
            top: 6px;
            left: 102px;
        }
    }
    &__services {
        margin-right: 25px;
        &:before {
            content: "";
            position: absolute;
            left: 63px;
            top: 6px;
            background: var(--d50-color);
            height: 8px;
            display: block;
            width: 2px;
            transform: rotate(45deg);
        }
        &:after {
            content: "";
            background: var(--d50-color);
            height: 8px;
            display: block;
            width: 2px;
            transform: rotate(135deg);
            position: absolute;
            top: 6px;
            left: 59px;
        }
    }

    &__wrapper {
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
    &__menu {
        &-list {
            display: flex;
            list-style-type: none;
        }
        &-item {
            text-decoration: none;
            margin-left: 20px;
            position: relative;
            span {
                font-weight: 700;
            }
        }
    }
    &__autorization {
        margin-left: 20px;
        display: flex;
        &-button1 {
            width: 87px;
            height: 34px;
            font-size: 12px;
            padding-top: 0px;
        }
        &-button2 {
            width: 196px;
            height: 34px;
            margin-left: 20px;
            font-size: 12px;
            padding-top: 0px;
        }
        
    }

}