block links 
    link(rel="stylesheet", href="../../blocks/checkbox_buttons/css/checkbox_buttons.min.css")

block content 
    .checkbox-buttons
        label.checkbox-buttons__content Можно курить 
            input(type="checkbox")
            span.checkbox-buttons__checkmark 

        label.checkbox-buttons__content Можно с питомцами
            input(type="checkbox" checked="checked")
            span.checkbox-buttons__checkmark

        label.checkbox-buttons__content Можно пригласить гостей<br> (до 10 человек) 
            input(type="checkbox" checked="checked")
            span.checkbox-buttons__checkmark

