block links 
    link(rel="stylesheet", href="../../blocks/checkbox_buttons/css/checkbox_buttons.min.css")

block content 
    .checkbox_buttons
        label.content Можно курить 
            input(type="checkbox" checked="checked")
            span.checkmark 

        label.content Можно с питомцами
            input(type="checkbox" checked="checked")
            span.checkmark

        label.content Можно пригласить гостей<br> (до 10 человек) 
            input(type="checkbox" checked="checked")
            span.checkmark

