block links 
    link(rel="stylesheet", href="../../blocks/radio_buttons/css/radio_buttons.min.css")

block content 
    .radio-buttons
        label.radio-buttons__content Мужчина
            input(type="radio" name="radio" checked="checked")
            span.radio-buttons__checkmark 

        label.radio-buttons__content Женщина
            input(type="radio" name="radio")
            span.radio-buttons__checkmark