block links 
    link(rel="stylesheet", href="../../blocks/buttons/css/buttons.min.css")

block content 
    button.btn__1 click me
    .btn__2-wrapper
        .gradient-border <span></span>
        button.btn__2 click me
    button.btn__3 click me
    button.btn__4 click me