block links 
    link(rel="stylesheet", href="../../blocks/buttons/css/buttons.min.css")

block content 
    block button1 
        btn.btn.btn__1 click me
    block button2
        .btn__2-wrapper
            .gradient-border <span></span>
            btn.btn.btn__2 click me
    block button3
        btn.btn.btn__3 click me
    block button4
        .btn__4-wrapper
            btn.btn.btn__4 click me
            img.btn__4-img(src="../../blocks/buttons/icons/arrow_forward.svg", alt="#")