block links 
    link(rel="stylesheet", href="../../blocks/toggle/css/toggle.min.css")

block content 
    .toggle
        .toggle-wrapper 
            .toggle-button 
                input.toggle__checkbox(type="checkbox")
                .toggle__knobs 
                .toggle__layer
        .toggle__text Получать спецпредложения