.text-field {
    margin-top: 22px;
    width: 260px;
    height: 44px;
    border: 1px solid var(--d25-color);
    border-radius: 4px;
    &:hover {
        border: 1px solid var(--d50-color);
        }
}

input::-webkit-input-placeholder {
    color: var(--d25-color);
   } 
input::-moz-placeholder {
    color: var(--d25-color);
   }

input:hover::placeholder {
    color: var(--d75-color);
  }