.footer {
    min-height: 443px;
    &-grid {
        margin-top: 86px;
        display: grid;
        grid-template-columns: 300px 1fr 1fr 1fr 260px;
    }
    &-block {
        position: relative;
        height: 168px;
        justify-items: start;
        display: block;
        a {
            display: block;
            text-decoration: none;
            margin-top: 13px;
            color: var(--d50-color);
            line-height: 25px;
            span {
                text-transform: uppercase;
                font-weight: 700;
                font-size: 12px;
            }
        }
        &__btn {
            position: absolute;
            top: 122px;
            left: 216px;
            height: 44px;
            width: 44px;
            border: none;
            background: transparent;
            z-index: 10;
        }
        &__logo {
            margin-top: 14px;
            margin-bottom: -4px;
        }
    }
    &__text {
        margin-top: 14px;
    }
    &-stx{
        margin-top: 22px;
        width: 260px;
        height: 44px;
    }
    &__divider {
        margin-top: 118px;
        background-color: #e5e5e5;
        width: 1440px;
        height: 1px;
        position: absolute;
        left: -140px;
    }
    &-flex {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 70px;
    }
    &-bottom {
        margin-top: 119px;
    }
    &-socials {
        i {
            background-clip: initial;
            font-size: 24px;
            background: var(--lg-color);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            color: var(--p-color);
        }
        &__item {
            margin-left: 23px;
            margin-top: 3px;
        }
    }
}
