.footer {
    min-height: 443px;
    &__grid {
        margin-top: 86px;
        display: grid;
        grid-template-columns: 300px 1fr 1fr 1fr 260px;
    }
    &__block {
        position: relative;
        height: 168px;
        justify-items: start;
        display: block;
        a {
            display: block;
            text-decoration: none;
            margin-top: 13px;
            color: var(--d50-color);
            line-height: 25px;
            span {
                text-transform: uppercase;
                font-weight: 700;
                font-size: 12px;
            }
        }
        &-input {
            margin-top: 22px;
            width: 260px;
            height: 44px;
            padding-left: 14px;
        }
        &-btn {
            position: absolute;
            top: 122px;
            left: 216px;
            height: 44px;
            width: 44px;
            border: none;
            background: transparent;
            z-index: 10;
        }
        &-logo {
            margin-top: 14px;
            margin-bottom: -4px;
        }
    }
    &__text {
        margin-top: 14px;
    }
    &__divider {
        margin-top: 118px;
        background-color: #e5e5e5;
        width: 1440px;
        height: 1px;
        position: absolute;
        left: -140px;
    }
    &__flex {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 70px;
    }
    &__bottom {
        margin-top: 119px;
    }
    &__socials {
        &-item {
            width: 23px;
            height: 23px;
            margin-left: 21px;
            margin-top: 3px;
        }
    }
}