block links 
    link(rel="stylesheet", href="../../blocks/subscription_text_field/css/subscription_text_field.min.css")

block content 
    .subtextfield
        input.subtextfield__input(name="email" type="email" placeholder="Email")
        button.subtextfield__btn