block links 
    link(rel="stylesheet", href="../../blocks/range_slider/css/nouislider.min.css")
    link(rel="stylesheet", href="../../blocks/range_slider/css/range_slider.min.css")

block content 
    .r-slider
        .r-wrapper 
            h3.r-slider__title.h3 Range Slider
            .r-slider__inputs 
                label.r-slider__label
                    input.r-slider__input(type="number" id="input-0")
                    span.r-slider__text ₽
                label.r-slider__label
                    span.r-slider__text -
                    input.r-slider__input(type="number" id="input-1")
                    span.r-slider__text ₽
        .r-slider__slider(id="range-slider")
                
    script(src="../../blocks/range_slider/js/nouislider.min.js")
    script(src="../../blocks/range_slider/js/range_slider.js")